@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  transition: all ease-in 300ms;
}

/* .app {
  display: flex;
  position: relative;
} */

.slider {
  width: 90%;
  margin: 0 auto;
  overflow: visible;
}

@media only screen and (max-width: 500px) {
  .slider {
    width: 80%;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #0ea5e9 !important;
}

.slick-slide > div {
  margin: 15px 22px;
}

.slick-list {
  margin: 0 -10px;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-track:hover {
  background-color: #555;
}
